
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}


ul, li {
  list-style: none;
}

input {
  border: none;
}

body {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  min-height: 100vh; /* 화면 전체 높이로 설정  */
  background: white; /* 원하는 배경색으로 설정 */
}

.main { /* 전체 가운데 정렬, 너비와 높이 figma설정에따라 1440x900으로 설정*/
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.item--이메일 {
  box-sizing: border-box;
  padding: 1.9rem 3.8rem 10.3rem 4.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.5rem;
}

.item--이메일 .showpet-WBb {
  margin: 0rem 3.146rem 3.4rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.69;
  color: #f05400;
  font-family: Rammetto One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .item--DLu {
  margin: 0rem 5.1rem 4.25rem 4.1rem;
  width: calc(100% - 9.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.item--이메일 .item--DLu .item--8im {
  margin-bottom: 0.9rem;
  width: 100%;
  text-align: left; /* 이메일 텍스트 왼쪽으로 정렬*/
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  color: #000000; /* 텍스트 입력시 폰트가 검은색으로 보이게 추가*/
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .item--DLu .item--F2h {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}

.item--이메일 .item--DLu .item--F2h .item--zFB {
  width: 25rem;
  height: 2.8rem;
  position: absolute;
  left: 1.7143rem;
  top: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}

.item--이메일 .item--DLu .item--F2h .item--GyP {
  width: 40rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 1rem;
  pointer-events: none; /* 텍스트박스 입력가능하게 추가 */
}

.item--이메일 .item--비밀번호1 { /* 비밀번호 입력부분 정렬 속성*/

  margin: 0rem 5.6rem 3.35rem 3.6rem;
  width: calc(100% - 9.2rem);
  row-gap: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.item--이메일 .item--비밀번호1 .item--uFf {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .item--비밀번호1 .item--dSZ {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
  pointer-events: none; /* 텍스트박스 입력가능하게 추가 */

}

.item--이메일 .item--비밀번호1 .item--dSZ .item--AhP {
  width: 25rem;
  height: 2.8rem;
  position: absolute;
  left: 1.7143rem;
  top: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  pointer-events: none; /* 텍스트박스 입력가능하게 추가 */
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  pointer-events: auto; /* 비밀번호 텍스트 박스 2개 다 입력가능 */

}

.item--이메일 .item--비밀번호1 .item--dSZ .item--f8M {
  width: 40rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  border-radius: 1rem;
}

.item--이메일 .item--비밀번호1 .item--비밀번호2 {
  box-sizing: border-box;
  padding: 1rem 1.789rem 1rem 1.714rem;
  width: 40rem; /* 비밀번호 인풋박스 크기 정렬*/
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  border-radius: 1rem;
  flex-shrink: 0;
}

.item--이메일 .item--비밀번호1 .item--비밀번호2 .item--VdB {
  margin-right: 19.4603rem;
  width: 25rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #d2d2d2;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .item--비밀번호1 .item--비밀번호2 .vector-R13 {
  width: 2.1365rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.item--이메일 .item--닉네임 {
  margin: 0rem 5.6rem 3.3rem 3.6rem;
  width: calc(100% - 9.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.item--이메일 .item--닉네임 .item--euP {
  margin-bottom: 0.9rem;
  width: 100%;
  text-align: left; /*닉네임 텍스트 왼쪽 정렬*/
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .item--닉네임 .item--AMw {
  box-sizing: border-box;
  padding: 1rem 1.7143rem;
  width: 40rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dddddd;
  border-radius: 1rem;
  flex-shrink: 0;
}

.item--이메일 .pet--pet {
  margin: 0rem 5.6rem 7.971rem 3.6rem;
  width: calc(100% - 9.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.item--이메일 .pet--pet .pet--BH3 {
  margin-bottom: 0.9rem;
  width: 100%;
  text-align: left; /*pet 텍스트 왼쪽정렬*/
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--이메일 .pet--pet .pet--i25 {
  box-sizing: border-box;
  padding: 1rem 1.7143rem;
  width: 40rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dddddd;
  border-radius: 1rem;
  flex-shrink: 0;
}

.item--이메일 .item--로그인하기 {
  margin-bottom: 3.9633rem;
  width: 40rem;
  height: 5.966rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 1.9rem rgba(119, 147, 65, 0.3000000119);
  background-color: #f05400;
  border-radius: 1rem;
  flex-shrink: 0;
  margin-right: 2rem;
  border: none; /* 테두리 제거 */
  cursor: pointer; /*회원가입 하기에 마우스올릴시 포인터 변경*/
}

.item--이메일 .item--Qp1 {
  margin-right: 6.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  color: #757575;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.item--이메일 .item--Qp1 .item--Qp1-sub-0 {
}

.item--이메일 .item--Qp1 .item--Qp1-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1825;
  font-style: italic;
  text-decoration-line: underline;
  color: #757575;
  font-family: ABeeZee, 'Source Sans Pro';
  cursor: pointer; /*회원가입 하기에 마우스올릴시 포인터 변경*/
}
