<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>ShowPet 상세보기</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One%3A400"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700"/>
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/modal.css}"/>
  <style>
    .comment-section {
      height: 800px;
      width: 450px; /* 댓글 섹션의 너비를 설정합니다. */
      float: right; /* 댓글 섹션을 오른쪽에 배치합니다. */
      margin-left: 40px; /* 게시글과 댓글 섹션 사이의 간격을 설정합니다. */
    }

    .comment-input-section {
      margin-bottom: 15px;
    }

    #commentInput {
      width: 430px; /* padding을 고려하여 너비를 설정합니다. */
      padding: 10px;
      box-sizing: border-box; /* padding이 요소의 전체 너비에 포함되도록 설정합니다. */
      resize: none; /* 사용자가 textarea의 크기를 변경하지 못하게 합니다. */
    }

    #postCommentButton {
      display: block;
      width: 430px;
      padding: 10px;
      background-color: #594e4e;
      color: white;
      cursor: pointer;
      border: none;
    }

    #commentList {
      list-style: none; /* 댓글 목록의 점을 제거합니다. */
      padding: 0; /* 댓글 목록의 패딩을 제거합니다. */
    }

    #commentList li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #commentList li span:first-child {
      align-self: flex-start;
    }

    #commentList li div {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 11px;
    }

    #commentList li:last-child {
      border-bottom: none; /* 마지막 댓글의 구분선을 제거합니다. */
    }

    body {
      width: 1440px;
      height: 900px;
      margin: 50px auto 0;
      background-color: #ffffff; /* 배경색은 원하는 색상으로 설정하세요 */
      font-family: 'Poppins', sans-serif;
    }

    .centered-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    /* 밑줄 제거 */
    a {
      color: #000000 !important; /* 링크 색상을 원하는 색상으로 지정 */
      text-decoration: none !important;; /* 밑줄 제거 */
    }

    table {
      border-collapse: collapse;
      width: 100%;

    }

    th, td {
      border: 1px solid #594e4e;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #594e4e;
    }

    td input[type='text'],
    td textarea {
      width: 400px;
    }

    .button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .button:hover {
      opacity: 0.8;
    }

    .square-box {
      width: 450px;
      height: 420px;
      overflow-x: auto; /* 가로 스크롤을 활성화합니다. */
      white-space: nowrap; /* 텍스트 줄 바꿈을 방지합니다. */
      display: inline-block; /* 이미지들을 가로로 나열합니다. */
    }


    .square-box img {
      width: 400px;
      height: 400px;
      margin-right: 10px; /* 이미지 사이의 간격을 조절합니다. */

    }

    .comment-section {
      /* 기존 스타일 유지 */
      overflow: auto; /* 댓글 목록이 넘칠 경우 스크롤 표시 */
      max-height: 300px; /* 댓글 목록의 최대 높이 설정 */
    }

  </style>
</head>
<body>
<div data-th-replace="postlistheader :: postlistheader"></div>

<!--본문 시작-->
<div class="centered-content">
  <form data-th-if="${post}" data-th-action="@{/post/update}" method='post'
        enctype='multipart/form-data' class="content-section">
    <table border='1'>
      <div style="border: 1px solid #594e4e; padding: 10px;">
        <div style="display: flex; align-items: center;">
          <div class="round-image">
            <a data-th-href="@{'/member/profile/' + ${post.member.id}}">
              <img style="width: 50px; height: 50px;" data-th-if="${post.member.photo == null}"
                   th:src="@{/images/avatar.png}"></a>
            <a data-th-href="@{'/member/profile/' + ${post.member.id}}">
              <img data-th-if="${post.member.photo != null}" style="width: 50px; height: 50px;"
                   data-th-src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${post.member.photo}|"></a>
          </div>
          <a data-th-href="@{'/member/profile/' + ${post.member.id}}"
             data-th-text="${post.member.nickName}">닉네임</a>
          <span style="margin-left: 10px;">
            <p data-th-text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">2023-09-14</p>
          </span>
          <button type="button" class="button followButton"
                  th:if="${session.loginUser.id != post.member.id}"
                  th:data-is-followed="${post.member.isFollowed}"
                  th:data-member-id="${post.member.id}">
            <img class="followImage"
                 th:src="${post.member.isFollowed} ? '/images/follow_on.png' : '/images/follow_off.png'"
                 th:id="${'followImage-' + post.member.id}"
                 width="110" height="30">
          </button>
        </div>
      </div>
      <td>
        <input type='text' name='title' value="제목입니다." data-th-value="${post.title}">
      </td>
      <tr>
        <div class="square-box" style="text-align: center;">
          <div data-th-if="${post.attachedFiles != null && !post.attachedFiles.isEmpty()}">
            <div th:each="file, fileIndex : ${post.attachedFiles}">
              <img
                  th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/post/${file.filePath}|">
            </div>

          </div>
      </tr>
      <tr>
      <tr>
        <td><textarea name='content' style='height:50px; width:400px;'
                      data-th-text="${post.content}"></textarea></td>
      </tr>

      <tr>
        <td>
          <button type="button" class="button likeButton" th:data-is-liked="${post.isLiked}"
                  th:data-post-id="${post.id}">
            <img class="likeImage"
                 th:src="${post.isLiked} ? '/images/like_on.png' : '/images/like_off.png'"
                 th:id="${'likeImage-' + post.id}">
          </button>
          <span class="likeCount" data-th-text="${post.likeCount}"
                th:data-post-id="${post.id}">0</span>
          <button type="button" class="button bookmarkButton"
                  th:data-is-bookmarked="${post.isBookmarked}" th:data-post-id="${post.id}">
            <img class="bookmarkImage"
                 th:src="${post.isBookmarked} ? '/images/bookmark_on.png' : '/images/bookmark_off.png'"
                 th:id="${'bookmarkImage-' + post.id}">
          </button>
        </td>
      </tr>
    </table>
  </form>

  <div class="comment-section">
    <!-- 댓글 작성 창 -->
    <div class="comment-input-section">
      <textarea id="commentInput" placeholder="댓글을 입력하세요..."></textarea>
      <button id="postCommentButton">댓글 작성</button>
    </div>

    <!-- 댓글 목록 -->
    <ul id="commentList">
      <!-- 댓글은 여기에 추가됩니다. -->
    </ul>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".likeButton").click(function () {
      var postId = $(this).data("post-id");
      var isLiked = $(this).data("is-liked");
      $.ajax({
        url: "/post/" + postId + "/like",
        type: "POST",
        success: function (response) {
          if (response.status === "notLoggedIn") {
            window.location.href = "/member/form";
            return;
          }
          var newCount = response.newLikeCount;
          var newIsLiked = response.newIsLiked;
          $(".likeCount[data-post-id='" + postId + "']").text(newCount);
          $(".likeButton[data-post-id='" + postId + "']").data("is-liked", newIsLiked);

          var newImageSrc = newIsLiked ? "/images/like_on.png" : "/images/like_off.png";
          $("#likeImage-" + postId).attr("src", newImageSrc);
        }
      });
    });

    $(".bookmarkButton").click(function () {
      var postId = $(this).data("post-id");
      var isBookmarked = $(this).data("is-bookmarked");
      $.ajax({
        url: "/post/" + postId + "/bookmark",
        type: "POST",
        success: function (response) {
          if (response.status === "notLoggedIn") {
            window.location.href = "/member/form";
            return;
          }
          var newIsBookmarked = response.newIsBookmarked;
          $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
              newIsBookmarked);

          var newImageSrc = newIsBookmarked ? "/images/bookmark_on.png"
              : "/images/bookmark_off.png";
          $("#bookmarkImage-" + postId).attr("src", newImageSrc);
        }
      });
    });

    $(".followButton").on("click", function () {
      let memberId = $(this).data("member-id");
      let isFollowed = $(this).data("is-followed");

      $.ajax({
        url: "/member/" + memberId + "/follow",
        type: "POST",
        success: function (response) {
          if (response.newIsFollowed) {
            $("#followImage-" + memberId).attr("src", "/images/follow_on.png");
            $(".followButton[data-member-id='" + memberId + "']").data("is-followed", true);
          } else {
            $("#followImage-" + memberId).attr("src", "/images/follow_off.png");
            $(".followButton[data-member-id='" + memberId + "']").data("is-followed", false);
          }
        }
      });
    });

    function updateLikeStatus() {
      let postIds = $(".likeButton").map(function () {
        return $(this).data("post-id");
      }).get();

      if (postIds.length > 0) {
        $.ajax({
          url: "/post/getLikeStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(postIds),
          success: function (response) {
            for (let postId in response) {
              let isLiked = response[postId].isLiked;
              let likeCount = response[postId].likeCount;

              let imageSrc = isLiked ? "/images/like_on.png" : "/images/like_off.png";
              $("#likeImage-" + postId).attr("src", imageSrc);
              $(".likeButton[data-post-id='" + postId + "']").data("is-liked", isLiked);
              $(".likeCount[data-post-id='" + postId + "']").text(likeCount);
            }
          }
        });
      }
    }

    function updateBookmarkStatus() {
      let postIds = $(".bookmarkButton").map(function () {
        return $(this).data("post-id");
      }).get();

      if (postIds.length > 0) {
        $.ajax({
          url: "/post/getBookmarkStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(postIds),
          success: function (response) {
            for (let postId in response) {
              let isBookmarked = response[postId];
              let imageSrc = isBookmarked ? "/images/bookmark_on.png" : "/images/bookmark_off.png";
              $("#bookmarkImage-" + postId).attr("src", imageSrc);
              $(".bookmarkButton[data-post-id='" + postId + "']").data("is-bookmarked",
                  isBookmarked);
            }
          }
        });
      }
    }

    function updateFollowStatus() {
      let memberIds = $(".followButton").map(function () {
        return $(this).data("member-id");
      }).get();

      if (memberIds.length > 0) {
        $.ajax({
          url: "/member/getFollowStatus",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(memberIds),
          success: function (response) {
            for (let memberId in response) {
              let isFollowed = response[memberId];
              let imageSrc = isFollowed ? "/images/follow_on.png" : "/images/follow_off.png";
              $("#followImage-" + memberId).attr("src", imageSrc);
              $(".followButton[data-member-id='" + memberId + "']").data("is-followed", isFollowed);
            }
          }
        });
      }
    }

    updateLikeStatus();
    updateBookmarkStatus();
    updateFollowStatus();

    $(window).on("pageshow", function (event) {
      updateLikeStatus();
      updateBookmarkStatus();
      updateFollowStatus();
    });

  });

  // 알림 모달 열기
  function openHeaderNotificationModal() {
    document.getElementById('headerNotificationModal').style.display = 'block';
  }

  // 알림 모달 닫기
  function closeHeaderNotificationModal() {
    document.getElementById('headerNotificationModal').style.display = 'none';
  }

  // 페이지가 로드되면 저장된 알림을 불러옵니다.
  document.addEventListener('DOMContentLoaded', function () {
    loadHeaderNotifications();

    // "전체 삭제" 버튼에 이벤트 리스너를 추가합니다.
    const deleteAllNotificationsButton = document.getElementById('deleteAllNotificationsButton');
    if (deleteAllNotificationsButton) {
      deleteAllNotificationsButton.addEventListener('click', function () {
        fetch('/member/notifications/deleteAll', {
          method: 'POST',
        })
        .then(response => {
          if (!response.ok) {
            return Promise.reject('Error deleting notifications: ' + response.statusText);
          }
          // 성공적으로 삭제되었을 경우, UI에서도 알림을 제거합니다.
          const notiContainer = document.querySelector("#notificationList");
          while (notiContainer.firstChild) {
            notiContainer.removeChild(notiContainer.firstChild);
          }
        })
        .catch(error => {
          console.error(error);
        });
      });
    }
  });

  function loadHeaderNotifications() {
    fetch('/member/headerNotifications', {
      method: 'GET',
    })
    .then(response => {
      if (!response.ok) {
        return Promise.reject('Error loading notifications: ' + response.statusText);
      }
      return response.json();
    })
    .then(notifications => {
      const notiContainer = document.querySelector("#notificationList");
      notifications.forEach(notification => {
        const newNoti = document.createElement("li");
        newNoti.textContent = notification.content;
        notiContainer.appendChild(newNoti);
      });
    })
    .catch(error => {
      console.error(error);
    });
  }

  window.addEventListener('load', function () {
    const alarmIcon = document.getElementById('alarmIcon');
    if (!alarmIcon) {
      console.error('alarmIcon does not exist!');
      return;
    }

    alarmIcon.addEventListener('click', function () {
      openHeaderNotificationModal();
    });

    const eventSource = new EventSource('/member/notifications/stream');
    eventSource.addEventListener('alarm', function (event) {
      const data = JSON.parse(event.data);
      const notiContainer = document.querySelector("#notificationList");
      const newNoti = document.createElement("li");
      newNoti.textContent = data.content;
      if (notiContainer.firstChild) {
        notiContainer.insertBefore(newNoti, notiContainer.firstChild);
      } else {
        notiContainer.appendChild(newNoti);
      }
    });
    eventSource.onerror = function (event) {
      console.error('EventSource failed:', event);
      eventSource.close();
    };
  });

  $(document).ready(function () {
    const urlSegments = window.location.pathname.split('/');
    const category = urlSegments[urlSegments.length - 2];
    const postId = urlSegments[urlSegments.length - 1];

    function getPost(category, postId) {
      $.ajax({
        url: `/post/detail/${category}/${postId}`,
        type: "GET",
        success: function (response) {
          if (response.status === "success") {
            const post = response.post;
            $("#postTitle").text(post.title);
            $("#postContent").text(post.content);
          } else {
            console.error("게시글 가져오기 실패");
          }
        },
        error: function (error) {
          console.error("게시글 가져오기 실패", error);
        }
      });
    }

    getPost(category, postId);

    $("#postCommentButton").click(function () {
      const commentText = $("#commentInput").val().trim();
      if (commentText === "") {
        alert("댓글을 입력해주세요.");
        return;
      }

      $.ajax({
        url: `/post/detail/${category}/${postId}/comment`,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({content: commentText}),
        success: function (response) {
          if (response.status === "success") {
            const commenter = response.commenter;
            const commentId = response.commentId;

            const newComment = $("<li>").css("display", "flex").css("justify-content",
                "space-between").css("align-items", "center");
            newComment.append($("<span>").text(commentText).css("align-self", "flex-start"));

            const actionContainer = $("<div>").css("display", "flex").css("align-items",
                "center").css("gap", "10px");
            actionContainer.append($("<span>").text("작성자: " + commenter));
            actionContainer.append($("<button>").text("삭제").click(function () {
              $.ajax({
                url: `/post/detail/${category}/${postId}/comment/${commentId}`,
                type: "DELETE",
                success: function (response) {
                  if (response.status === "success") {
                    newComment.remove();
                  } else {
                    alert("삭제 권한이 없습니다.");
                  }
                },
                error: function () {
                  alert("삭제 권한이 없습니다.");
                }
              });
            }));
            newComment.append(actionContainer);

            $("#commentList").prepend(newComment);
            $("#commentInput").val("");
          } else if (response.status === "unauthorized") {
            alert("로그인이 필요합니다.");
          } else {
            alert("댓글 작성에 실패했습니다.");
          }
        },
        error: function (error) {
          console.error("댓글 작성 실패", error);
        }
      });
    });

    function loadComments(category, postId) {
      $.ajax({
        url: `/post/detail/${category}/${postId}/comment`,
        type: "GET",
        success: function (response) {
          if (response.status === "success") {
            const comments = response.comments;
            comments.forEach(comment => {
              const newComment = $("<li>").css("display", "flex").css("justify-content",
                  "space-between").css("align-items", "center");
              newComment.append($("<span>").text(comment.content).css("align-self", "flex-start"));

              const actionContainer = $("<div>").css("display", "flex").css("align-items",
                  "center").css("gap", "10px");
              actionContainer.append($("<span>").text("작성자: " + comment.commenter));

              const deleteButton = $("<button>").text("삭제").click(function () {
                $.ajax({
                  url: `/post/detail/${category}/${postId}/comment/${comment.id}`,
                  type: "DELETE",
                  success: function (response) {
                    if (response.status === "success") {
                      newComment.remove();
                    } else {
                      alert("삭제 권한이 없습니다.");
                    }
                  },
                  error: function () {
                    alert("삭제 권한이 없습니다.");
                  }
                });
              });

              actionContainer.append(deleteButton);
              newComment.append(actionContainer);

              $("#commentList").prepend(newComment);
            });
          } else {
            console.error("댓글 로드 실패");
          }
        },
        error: function (error) {
          console.error("댓글 로드 실패", error);
        }
      });
    }

    loadComments(category, postId);
  });

  function getPostIdFromUrl() {
    const urlSegments = window.location.pathname.split('/');
    const category = urlSegments[urlSegments.length - 2]; // URL에서 카테고리 추출
    const postId = urlSegments[urlSegments.length - 1]; // URL에서 postId 추출

    return {category, postId};
  }
</script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>
