<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>showpet</title>
</head>
<body>

<h1>Show Pet 회원 목록</h1>
<table border="1">
  <thead>
  <tr>
    <th>번호</th>
    <th>닉네임</th>
    <th>이메일</th>
    <th>관심사</th>
    <th>회원 내보내기</th>
  </tr>
  </thead>

  <tbody data-th-each="member : ${list}">

  <tr>
    <td data-th-text="${member.id}"></td>
    <td>
      <img data-th-unless="${member.photo}" src="/images/avatar.png"
           style="width:50px; height: 50px;"/>
      <img style="width:50px; height: 50px;" th:if="${member.photo}"
           th:src="|https://kr.object.ncloudstorage.com/bitcamp-nc7-bucket-16/member/${member.photo}|">
      <a data-th-href="@{'/member/detail/' + ${member.id}}" data-th-text="${member.nickName}"></a>
    </td>
    <td data-th-text="${member.email}"></td>
    <td data-th-text="${member.category}"></td>
    <td>
      <a data-th-href="@{/member/delete(id=${member.id})}" class="btn btn-danger">삭제</a>
    </td>
  </tr>

  </tbody>
</table>

<a href='/'>메인</a>

</body>
</html>
